#CSS
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0%;
}

h1, h2 {
    text-decoration: underline;
}

nav {
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: gray;
    color: white;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:16px;
    justify-content: center;
}

nav li {
    padding: 8px;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
     min-height: 100vh;
}

main {
    flex: 1;
}

a {
    color: white;
}


.container {
    text-align: center;
    width: 100%;
}

.container p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.container ol {
    display: inline-block;
    text-align: left;
    padding-left: 0; 
    margin: 0;
}


.intro {
    text-align: center;
    width: 100%;
}

.intro p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

footer {
    width: 100%;
    background-color: gray; 
    text-align: center; 
    color: white;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contact li{
    float: left;
    padding: 8px;
}

@media (max-width: 768px) {
    .container p,
    .intro p {
        width: 90%;
    }

    nav ul,
    .contact ul {
        flex-direction: column;
        align-items: center;
    }
}
