
html {
    scroll-behavior: smooth;
}

h1, h2 {
    text-decoration: underline;
}

nav {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: gray;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    padding: 16px;
    float: left;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

a {
    color: white;
}



programs {
    text-align: center;
}

programs ol {
    display:inline-block;
    text-align: left;
}

programs p {
    width: 40%;
    height: auto;
}

intro {
    text-align: center;
}

intro p{
    display:inline-block;
    text-align: left;
    width: 40%;
    height: auto;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: gray; 
    padding: 10px; 
    text-align: center; 
    color: white;
}

contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

contact li{
    float: left;
    padding: 16px;
}